.height-auto {
  height: auto !important;
}
.height-100 {
  height: 100% !important;
}
.overflow-auto {
  overflow: auto !important;
}
.overflow-x-auto {
  overflow-x: auto !important;
}
.overflow-y-auto {
  overflow-y: auto !important;
}
.border-0 {
  border: 0 !important;
}
.overflow-hidden {
  overflow: hidden !important;
}
.line-ellipsis {
  text-overflow: ellipsis !important;
  overflow: hidden !important;
  white-space: nowrap !important;
}
.cursor-pointer {
  cursor: pointer;
}
.cursor-default {
  cursor: default !important;
}
.position-fixed {
  position: fixed;
}
.position-relative {
  position: relative;
}
.ofw-unwrap {
  overflow-wrap: break-word;
}
.text-center {
  text-align: center !important;
}
.display-none {
  display: none !important;
}

.icon-size {
  font-size : 20px;
}